<div id="privileges"><%= flash[:privileges] %></div>
<div id="notice"><%= notice %></div>

<h3>Please visit the <a href="https://github.com/swetha1194/CSC517_Project1/tree/master/OODD_1">GitHub Page</a> and read the <a href="https://github.com/swetha1194/CSC517_Project1/blob/master/OODD_1/README.md">README.md</a> file before proceeding</h3>

<h3>Remember to always LOGOUT!!</h3>

<div class="login">
	<a href = <%= login_path %> >
		<div class = "tab btn btn-default">
			<p>Login</p>
		</div>
	</a>
	<a href = <%= signupm_path%> >
		<div class = "tab btn btn-default">
			<p>Member Sign up!</p>
		</div>
	</a>
	
</div>

