<div id="privileges"><%= flash[:privileges] %></div>
<div id="notice"><%= notice %></div>
<div class="login">
	<a href = <%= login_path %> >
		<div class = "tab btn btn-default">
			<p>Login</p>
		</div>
	</a>
	<a href = <%= signupm_path%> >
		<div class = "tab btn btn-default">
			<p>Member Sign up!</p>
		</div>
	</a>
	
</div>

