<!DOCTYPE html>
<html>
  <head>
    <title>OODD1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="main-container" class="container">
  		<div class="row">
  			<h1>Library Room Reservation System</h1>
  		</div>
    	<div class="row">
    		<div id="main-content" class="col-xs-9">
          		<%= yield %>
        	</div>
    	</div>
	</div>
  </body>
</html>
